.container {
  height: 100%;
  margin: 0 auto;
  flex: 1 0 auto;
  overflow-y: auto;
}

.container h2 {
  text-align: center;
}

.wrapper {
  height: 100%;
  margin: 0 auto;
}

.name-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.name-container span {
  width: 100%;
  margin-top: 15px;
  font-size: 18px;
  transition: .3s;
  cursor: pointer;
}

.name-container span:hover {
  background-color: rgb(235, 235, 235);
}


@media (min-width: 1000px) {
  .container {
    width: 1000px;
  }

  .wrapper {
    width: 940px;
  }
}

@media (max-width: 999.99px) {
  .container {
    width: 320px;
  }

  .wrapper {
    width: 288px;
  }
}