.container {
  margin: 0 auto;
  flex: 1 0 auto;
}
.container h2 {
  text-align: center;
}

@media (min-width: 1000px) {
  .container {
    width: 1000px;
  }

  .wrapper {
    width: 940px;
  }
}

@media (max-width: 999.99px) {
  .container {
    width: 320px;
  }

  .wrapper {
    width: 288px;
  }
}